appdirs==1.4.4
cffi==1.14.5
cfgv==3.3.0
click==8.0.1
cryptography==3.4.7
distlib==0.3.2
filelock==3.0.12
Flask==2.0.1
greenlet==1.1.0
identify==2.2.10
itsdangerous==2.0.1
Jinja2==3.0.1
MarkupSafe==2.0.1
nodeenv==1.6.0
pre-commit==2.13.0
pycparser==2.20
PyMySQL==1.0.2
PyYAML==5.4.1
six==1.16.0
SQLAlchemy==1.4.19
toml==0.10.2
virtualenv==20.4.7
Werkzeug==2.0.1
